learning how to combine these different datasets into one master table using joins and merges

Learn to combine multiple DataFrames using pd.merge() (the equivalent of an SQL JOIN) and pd.concat() (for stacking).

In [1]:
import pandas as pd

In [4]:
# Table 1: User data

users = {'user_id': [1, 2, 3, 4],'name': ['Alice', 'Bob', 'Charlie', 'Dave'],'city': ['New York', 'Los Angeles', 'Chicago', 'Miami']}
df_users = pd.DataFrame(users)

# Table 2: Order data
# Note: User 3 (Charlie) has no orders. User 5 has an order but isn't in df_users.


orders = {'order_id': [101, 102, 103, 104],'user_id': [1, 2, 1, 5],'product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor']}
df_orders = pd.DataFrame(orders)

print("---- Users ----")
print(df_users)
print("\n---- Orders ----")
print(df_orders)

---- Users ----
   user_id     name         city
0        1    Alice     New York
1        2      Bob  Los Angeles
2        3  Charlie      Chicago
3        4     Dave        Miami

---- Orders ----
   order_id  user_id   product
0       101        1    Laptop
1       102        2     Mouse
2       103        1  Keyboard
3       104        5   Monitor

pd.merge() (To Join): This is the powerful one. It's like a VLOOKUP in Excel or a JOIN in SQL. You use this when you have two tables that share a common "key" column (like a user_id or product_id). You use this key to link the tables together.

on='key_column': This parameter tells Pandas which column to use as the common link.

how='...': This parameter tells Pandas how to combine them:

how='inner' (Default): Only keeps rows where the key exists in BOTH tables.

how='left': Keeps ALL rows from the "left" table and matches data from the "right" table where it can.

how='right': Keeps ALL rows from the "right" table.

how='outer': Keeps ALL rows from BOTH tables.

# pd.merge() (Inner Join)

In [8]:
# Pandas is smart and will automatically find the common 'user_id' column

df_mergeri = pd.merge(df_users, df_orders, on = 'user_id')

print(f"\n---INNER JOIN (DEFAULT)---\n{df_mergeri}")

---INNER JOIN (DEFAULT)---
   user_id   name         city  order_id   product
0        1  Alice     New York       101    Laptop
1        1  Alice     New York       103  Keyboard
2        2    Bob  Los Angeles       102     Mouse

# pd.merge() (Left Join)

In [13]:
# We specify how='left' to keep everything from the "left" table (df_users)

df_mergel = pd.merge(df_users, df_orders, on = 'user_id', how = 'left')
print("\n---- Left Join ----")
print(df_mergel)

# Note: Charlie (user 3) is here, but his order info is NaN

---- Left Join ----
   user_id     name         city  order_id   product
0        1    Alice     New York     101.0    Laptop
1        1    Alice     New York     103.0  Keyboard
2        2      Bob  Los Angeles     102.0     Mouse
3        3  Charlie      Chicago       NaN       NaN
4        4     Dave        Miami       NaN       NaN

# pd.concat() (Stacking)

In [14]:
new_user = pd.DataFrame({'user_id':[5],'name':['eve'],'city':['Boston']})

# axis=0 means stack on top (rows)

df_all_users = pd.concat([df_users , new_user], ignore_index= True)
print("Concat (Stacked)")
print(df_all_users)

Concat (Stacked)
   user_id     name         city
0        1    Alice     New York
1        2      Bob  Los Angeles
2        3  Charlie      Chicago
3        4     Dave        Miami
4        5      eve       Boston