# Phase 1 Capstone Project.

We will split this project into 3 Days:

Day 21 (Today): Setup, Data Loading, and "The Interview" (Inspection).

Day 22: Data Cleaning & Handling Missing Values.

Day 23: Exploratory Data Analysis (EDA) & Final Report.

***Day 21: Setup & Data Inspection***

Your Role: Junior Data Analyst 

Your Client: The Titanic Historical Society 

The Goal: They want a clean overview of the passenger list to understand the demographics.

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tabulate import tabulate
import seaborn as sns
%matplotlib inline

In [65]:
#loading the Dataset

df = sns.load_dataset('titanic')

In [66]:
#Requirement: Show the client the first 5 rows.
print(f'The first 5 rows are :\n {df.head()}.')

The first 5 rows are :
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True  .

In [67]:
# Requirement: Show the client the shape (How many passengers? How many columns?).

rows, cols = df.shape
print(f'The number of Passengers were : {rows} \nand number of parameters given are {cols}')

# also can be written as 
print()
print(f'Number of Passengers :{len(df)}')
print(f'Number of Parameters :{len(df.columns)}')

The number of Passengers were : 891
and number of parameters given are 15

Number of Passengers :891
Number of Parameters :15

In [68]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [69]:
deck_info = df['deck'].isnull().sum()
print(deck_info)


print(len(df))

688
891

In [70]:
clarity_deck = (deck_info/rows)*100
available_deck_info = 100 - clarity_deck
print(f'Missing data of DECK info is {clarity_deck}% .')
print(f"available % of data is {available_deck_info}% .")

Missing data of DECK info is 77.21661054994388% .
available % of data is 22.78338945005612% .

In [71]:
print(tabulate(df, headers='keys', tablefmt='simple', showindex=False))

  survived    pclass  sex        age    sibsp    parch      fare  embarked    class    who    adult_male    deck    embark_town    alive    alone
----------  --------  ------  ------  -------  -------  --------  ----------  -------  -----  ------------  ------  -------------  -------  -------
         0         3  male     22           1        0    7.25    S           Third    man    True          nan     Southampton    no       False
         1         1  female   38           1        0   71.2833  C           First    woman  False         C       Cherbourg      yes      False
         1         3  female   26           0        0    7.925   S           Third    woman  False         nan     Southampton    yes      True
         1         1  female   35           1        0   53.1     S           First    woman  False         C       Southampton    yes      False
         0         3  male     35           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  male    nan           0        0    8.4583  Q           Third    man    True          nan     Queenstown     no       True
         0         1  male     54           0        0   51.8625  S           First    man    True          E       Southampton    no       True
         0         3  male      2           3        1   21.075   S           Third    child  False         nan     Southampton    no       False
         1         3  female   27           0        2   11.1333  S           Third    woman  False         nan     Southampton    yes      False
         1         2  female   14           1        0   30.0708  C           Second   child  False         nan     Cherbourg      yes      False
         1         3  female    4           1        1   16.7     S           Third    child  False         G       Southampton    yes      False
         1         1  female   58           0        0   26.55    S           First    woman  False         C       Southampton    yes      True
         0         3  male     20           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  male     39           1        5   31.275   S           Third    man    True          nan     Southampton    no       False
         0         3  female   14           0        0    7.8542  S           Third    child  False         nan     Southampton    no       True
         1         2  female   55           0        0   16       S           Second   woman  False         nan     Southampton    yes      True
         0         3  male      2           4        1   29.125   Q           Third    child  False         nan     Queenstown     no       False
         1         2  male    nan           0        0   13       S           Second   man    True          nan     Southampton    yes      True
         0         3  female   31           1        0   18       S           Third    woman  False         nan     Southampton    no       False
         1         3  female  nan           0        0    7.225   C           Third    woman  False         nan     Cherbourg      yes      True
         0         2  male     35           0        0   26       S           Second   man    True          nan     Southampton    no       True
         1         2  male     34           0        0   13       S           Second   man    True          D       Southampton    yes      True
         1         3  female   15           0        0    8.0292  Q           Third    child  False         nan     Queenstown     yes      True
         1         1  male     28           0        0   35.5     S           First    man    True          A       Southampton    yes      True
         0         3  female    8           3        1   21.075   S           Third    child  False         nan     Southampton    no       False
         1         3  female   38           1        5   31.3875  S           Third    woman  False         nan     Southampton    yes      False
         0         3  male    nan           0        0    7.225   C           Third    man    True          nan     Cherbourg      no       True
         0         1  male     19           3        2  263       S           First    man    True          C       Southampton    no       False
         1         3  female  nan           0        0    7.8792  Q           Third    woman  False         nan     Queenstown     yes      True
         0         3  male    nan           0        0    7.8958  S           Third    man    True          nan     Southampton    no       True
         0         1  male     40           0        0   27.7208  C           First    man    True          nan     Cherbourg      no       True
         1         1  female  nan           1        0  146.521   C           First    woman  False         B       Cherbourg      yes      False
         1         3  female  nan           0        0    7.75    Q           Third    woman  False         nan     Queenstown     yes      True
         0         2  male     66           0        0   10.5     S           Second   man    True          nan     Southampton    no       True
         0         1  male     28           1        0   82.1708  C           First    man    True          nan     Cherbourg      no       False
         0         1  male     42           1        0   52       S           First    man    True          nan     Southampton    no       False
         1         3  male    nan           0        0    7.2292  C           Third    man    True          nan     Cherbourg      yes      True
         0         3  male     21           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  female   18           2        0   18       S           Third    woman  False         nan     Southampton    no       False
         1         3  female   14           1        0   11.2417  C           Third    child  False         nan     Cherbourg      yes      False
         0         3  female   40           1        0    9.475   S           Third    woman  False         nan     Southampton    no       False
         0         2  female   27           1        0   21       S           Second   woman  False         nan     Southampton    no       False
         0         3  male    nan           0        0    7.8958  C           Third    man    True          nan     Cherbourg      no       True
         1         2  female    3           1        2   41.5792  C           Second   child  False         nan     Cherbourg      yes      False
         1         3  female   19           0        0    7.8792  Q           Third    woman  False         nan     Queenstown     yes      True
         0         3  male    nan           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  male    nan           1        0   15.5     Q           Third    man    True          nan     Queenstown     no       False
         1         3  female  nan           0        0    7.75    Q           Third    woman  False         nan     Queenstown     yes      True
         0         3  male    nan           2        0   21.6792  C           Third    man    True          nan     Cherbourg      no       False
         0         3  female   18           1        0   17.8     S           Third    woman  False         nan     Southampton    no       False
         0         3  male      7           4        1   39.6875  S           Third    child  False         nan     Southampton    no       False
         0         3  male     21           0        0    7.8     S           Third    man    True          nan     Southampton    no       True
         1         1  female   49           1        0   76.7292  C           First    woman  False         D       Cherbourg      yes      False
         1         2  female   29           1        0   26       S           Second   woman  False         nan     Southampton    yes      False
         0         1  male     65           0        1   61.9792  C           First    man    True          B       Cherbourg      no       False
         1         1  male    nan           0        0   35.5     S           First    man    True          C       Southampton    yes      True
         1         2  female   21           0        0   10.5     S           Second   woman  False         nan     Southampton    yes      True
         0         3  male     28.5         0        0    7.2292  C           Third    man    True          nan     Cherbourg      no       True
         1         2  female    5           1        2   27.75    S           Second   child  False         nan     Southampton    yes      False
         0         3  male     11           5        2   46.9     S           Third    child  False         nan     Southampton    no       False
         0         3  male     22           0        0    7.2292  C           Third    man    True          nan     Cherbourg      no       True
         1         1  female   38           0        0   80       nan         First    woman  False         B       nan            yes      True
         0         1  male     45           1        0   83.475   S           First    man    True          C       Southampton    no       False
         0         3  male      4           3        2   27.9     S           Third    child  False         nan     Southampton    no       False
         0         1  male    nan           0        0   27.7208  C           First    man    True          nan     Cherbourg      no       True
         1         3  male    nan           1        1   15.2458  C           Third    man    True          nan     Cherbourg      yes      False
         1         2  female   29           0        0   10.5     S           Second   woman  False         F       Southampton    yes      True
         0         3  male     19           0        0    8.1583  S           Third    man    True          nan     Southampton    no       True
         1         3  female   17           4        2    7.925   S           Third    woman  False         nan     Southampton    yes      False
         0         3  male     26           2        0    8.6625  S           Third    man    True          nan     Southampton    no       False
         0         2  male     32           0        0   10.5     S           Second   man    True          nan     Southampton    no       True
         0         3  female   16           5        2   46.9     S           Third    woman  False         nan     Southampton    no       False
         0         2  male     21           0        0   73.5     S           Second   man    True          nan     Southampton    no       True
         0         3  male     26           1        0   14.4542  C           Third    man    True          nan     Cherbourg      no       False
         1         3  male     32           0        0   56.4958  S           Third    man    True          nan     Southampton    yes      True
         0         3  male     25           0        0    7.65    S           Third    man    True          F       Southampton    no       True
         0         3  male    nan           0        0    7.8958  S           Third    man    True          nan     Southampton    no       True
         0         3  male    nan           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         1         2  male      0.83        0        2   29       S           Second   child  False         nan     Southampton    yes      False
         1         3  female   30           0        0   12.475   S           Third    woman  False         nan     Southampton    yes      True
         0         3  male     22           0        0    9       S           Third    man    True          nan     Southampton    no       True
         1         3  male     29           0        0    9.5     S           Third    man    True          nan     Southampton    yes      True
         1         3  female  nan           0        0    7.7875  Q           Third    woman  False         nan     Queenstown     yes      True
         0         1  male     28           0        0   47.1     S           First    man    True          nan     Southampton    no       True
         1         2  female   17           0        0   10.5     S           Second   woman  False         nan     Southampton    yes      True
         1         3  female   33           3        0   15.85    S           Third    woman  False         nan     Southampton    yes      False
         0         3  male     16           1        3   34.375   S           Third    man    True          nan     Southampton    no       False
         0         3  male    nan           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         1         1  female   23           3        2  263       S           First    woman  False         C       Southampton    yes      False
         0         3  male     24           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  male     29           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  male     20           0        0    7.8542  S           Third    man    True          nan     Southampton    no       True
         0         1  male     46           1        0   61.175   S           First    man    True          E       Southampton    no       False
         0         3  male     26           1        2   20.575   S           Third    man    True          nan     Southampton    no       False
         0         3  male     59           0        0    7.25    S           Third    man    True          nan     Southampton    no       True
         0         3  male    nan           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         1  male     71           0        0   34.6542  C           First    man    True          A       Cherbourg      no       True
         1         1  male     23           0        1   63.3583  C           First    man    True          D       Cherbourg      yes      False
         1         2  female   34           0        1   23       S           Second   woman  False         nan     Southampton    yes      False
         0         2  male     34           1        0   26       S           Second   man    True          nan     Southampton    no       False
         0         3  female   28           0        0    7.8958  S           Third    woman  False         nan     Southampton    no       True
         0         3  male    nan           0        0    7.8958  S           Third    man    True          nan     Southampton    no       True
         0         1  male     21           0        1   77.2875  S           First    man    True          D       Southampton    no       False
         0         3  male     33           0        0    8.6542  S           Third    man    True          nan     Southampton    no       True
         0         3  male     37           2        0    7.925   S           Third    man    True          nan     Southampton    no       False
         0         3  male     28           0        0    7.8958  S           Third    man    True          nan     Southampton    no       True
         1         3  female   21           0        0    7.65    S           Third    woman  False         nan     Southampton    yes      True
         1         3  male    nan           0        0    7.775   S           Third    man    True          nan     Southampton    yes      True
         0         3  male     38           0        0    7.8958  S           Third    man    True          nan     Southampton    no       True
         1         3  female  nan           1        0   24.15    Q           Third    woman  False         nan     Queenstown     yes      False
         0         1  male     47           0        0   52       S           First    man    True          C       Southampton    no       True
         0         3  female   14.5         1        0   14.4542  C           Third    child  False         nan     Cherbourg      no       False
         0         3  male     22           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  female   20           1        0    9.825   S           Third    woman  False         nan     Southampton    no       False
         0         3  female   17           0        0   14.4583  C           Third    woman  False         nan     Cherbourg      no       True
         0         3  male     21           0        0    7.925   S           Third    man    True          nan     Southampton    no       True
         0         3  male     70.5         0        0    7.75    Q           Third    man    True          nan     Queenstown     no       True
         0         2  male     29           1        0   21       S           Second   man    True          nan     Southampton    no       False
         0         1  male     24           0        1  247.521   C           First    man    True          B       Cherbourg      no       False
         0         3  female    2           4        2   31.275   S           Third    child  False         nan     Southampton    no       False
         0         2  male     21           2        0   73.5     S           Second   man    True          nan     Southampton    no       False
         0         3  male    nan           0        0    8.05    S           Third    man    True          nan     Southampton    no       True
         0         2  male     32.5         1        0   30.0708  C           Second   man    True          nan     Cherbourg      no       False
         1         2  female   32.5         0        0   13       S           Second   woman  False         E       Southampton    yes      True
         0         1  male     54           0        1   77.2875  S           First    man    True          D       Southampton    no       False
         1         3  male     12           1        0   11.2417  C           Third    child  False         nan     Cherbourg      yes      False
         0         3  male    nan           0        0    7.75    Q           Third    man    True          nan     Queenstown     no       True
         1         3  male     24           0        0    7.1417  S           Third    man    True          nan     Southampton    yes      True
         1         3  female  nan           1        1   22.3583  C           Third    woman  False         F       Cherbourg      yes      False
         0         3  male     45           0        0    6.975   S           Third    man    True          nan     Southampton    no       True
         0         3  male     33           0        0    7.8958  C           Third    man    True          nan     Cherbourg      no       True
         0         3  male     20           0        0    7.05    S           Third    man    True          nan     Southampton    no       True
         0         3  female   47           1        0   14.5     S           Third    woman  False         nan     Southampton    no       False
         1         2  female   29           1        0   26       S           Second   woman  False         nan     Southampton    yes      False
         0         2  male     25           0        0   13       S           Second   man    True          nan     Southampton    no       True

In [72]:
titanic = df.drop('deck', axis = 1)

In [73]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [74]:
def table(to_show):
    pass 
    print(tabulate(to_show, headers='keys', tablefmt='simple', showindex=False))
    return

***Day 22 :Data Cleaning***

Your Role: Junior Data Analyst 

The Goal: Produce a "Clean" dataset where every single cell has valid data (no NaNs).

In [75]:
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

In [76]:
#our first 'df' is now 'titanic'
# so df.drop is now titanic.drop


age_median = df['age'].median()
print(age_median)

28.0

In [84]:
titanic['age'] = titanic['age'].fillna(age_median)
print(titanic['age'])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: age, Length: 889, dtype: float64

In [85]:
titanic.dropna(subset=['embark_town'], inplace=True)

In [86]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   age          889 non-null    float64
 4   sibsp        889 non-null    int64
 5   parch        889 non-null    int64
 6   fare         889 non-null    float64
 7   embarked     889 non-null    object
 8   class        889 non-null    category
 9   who          889 non-null    object
 10  adult_male   889 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        889 non-null    object
 13  alone        889 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 86.1+ KB
None