In [1]:
import pandas as pd
import numpy as np

| Feature   | Series                 | DataFrame                  |
| --------- | ---------------------- | -------------------------- |
| Structure | 1D (one column)        | 2D (rows + columns)        |
| Contains  | Values + index         | Multiple Series            |
| Columns   | No                     | Yes                        |
| Shape     | (n,)                   | (n, m)                     |
| Example   | `s = pd.Series([...])` | `df = pd.DataFrame({...})` |

# Creating a Series (1D)

In [4]:
# create a series from a list

s= pd.Series([10,20,30,40], index=['a','b','c','d'])
print(f"Pandas series:\n{s}")

Pandas series:
a    10
b    20
c    30
d    40
dtype: int64

In [6]:
#access by label

print(f"value at label 'b' is : {s['b']}")

value at label 'b' is : 20

# Creating a DataFrame (2D)

In [8]:
# Creating a Dictionary 

data= {'name': ['raju','bheem','chutki','jaggu'], 'age': [22,34,29,7], 'City':['dholakpur','mirajpur','rampur','agnipur']}

#creating a dataframe

df_from_dict = pd.DataFrame(data)

print(f"A dataframe from a dict :\n {df_from_dict}")

A dataframe from a dict :
      name  age       City
0    raju   22  dholakpur
1   bheem   34   mirajpur
2  chutki   29     rampur
3   jaggu    7    agnipur

# Loading First Real Dataset!

In [12]:
# URL for the dataset

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

# Load the CSV into a DataFrame

df = pd.read_csv(url)

print("Successfullu loaded the IRIS dataset :")

#print it
print(df)

Successfullu loaded the IRIS dataset :
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# First Data Inspection

In [17]:
# 1. See the first 5 rows

print("---HEAD---")
print(df.head())

---HEAD---
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
# 2. See the last 5 rows

print("---TAIL---")
print(df.tail())

---TAIL---
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [19]:
# 3. See the dimensions (rows, columns)

print(f"\n ---.shape ---\n{df.shape}")

 ---.shape ---
(150, 5)

In [23]:
# 4. Get the full summary

print("\n --INFO---\n")
df.info()

 --INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB